# Load Liraries

In [4]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_excel('jobss (1).xlsx')

In [6]:
data.dropna(inplace=True)

In [7]:
data.reset_index(drop=True, inplace=True)

In [8]:
data.isna().sum()

srno.           0
location        0
job title       0
salary          0
eligibility1    0
eligibility2    0
eligibility3    0
sector          0
company         0
url             0
dtype: int64

In [9]:
data.drop(['srno.','url'],axis=1,inplace=True)

In [10]:
data.head()

,location,job title,salary,eligibility1,eligibility2,eligibility3,sector,company
0,Haladwani,Sales officer,200000,Sales,Business development,Lead generation,marketing,Digiperform
1,Roorkee,Exciting job opportunity for gynecologist in ...,320000,Gynecologist,Gynecology,DNB Gynecology,health,Bhagwati Hospital
2,Roorkee,Job opening for the post of line supervisor,300000,Quality Supervisor,Quality Engineer,Quality Assurance,management,NIIT
3,Haladwani,Hiring delivery boys for a food delivery app,150000,Delivery boy,Delivery field boy,Delivery parcel,sales,Digiperform
4,Haridwar,Marketing ane New product development,200000,Marketing,Sales,New product,sales,Kalpamrit Marketing

# Test KMeans on train and test set

In [11]:
df = data.copy()

In [12]:
data.columns

Index(['location', 'job title', 'salary', 'eligibility1', 'eligibility2',
       'eligibility3', 'sector', 'company'],
      dtype='object')

## seperate out only eligibility and sector for kmeans

In [13]:
df.drop(['location','job title','salary','company'],axis=1,inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   eligibility1  182 non-null    object
 1   eligibility2  182 non-null    object
 2   eligibility3  182 non-null    object
 3   sector        182 non-null    object
dtypes: object(4)
memory usage: 5.8+ KB

In [15]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()

df = ohe.fit_transform(df)

In [29]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.2)

In [30]:
from sklearn.cluster import KMeans

In [31]:
km = KMeans(n_clusters=21)

In [32]:
km.fit(train)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=21, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [37]:
pred = km.predict(test)

In [35]:
te = pd.DataFrame(ohe.inverse_transform(test))

In [36]:
te

,0,1,2,3
0,Collection agent,Banking,Head business development,banking
1,distribution management,channel partners,retail outlets,sales management
2,Cabin crew,Sr. Cabin crew,Air hostess,Aviation
3,SMO,XML,Social media,marketing
4,Inverter Engineer,SMPS,Power Electronics,electronic engineer
5,Insurance,Bank,Financial,banking
6,marketing,content designer,content writing,literature
7,Human resource management,HR,Statutory compliance,marketing
8,General manager,Deputy general manager,Resort manager,management
9,Tax,Accounts,Cost analysis,banking
10,Shampoo,Skin care,Industrial marketing,health
11,Pol science,PGT political science,Political science teacher,education
12,GIT,Jenkins,Bootstrap,IT engineer
13,Formulation,r&d,Capsule,management
14,Tax,Accounts,Cost analysis,banking
15,Bridge construction,Civil engineering,Quality surveyor,engineer
16,Passenger service agent,Security officer,Passport checking,Aviation
17,Quality Supervisor,Quality Engineer,Quality Assurance,management
18,Urology,Consultant urologist,DNB urology,health
19,A3 printer,Commercial printer,Management,Sales
20,Passenger handling,Baggage handling,Service report,Aviation
21,Sales,Business development,Lead generation,marketing
22,GPS,Electrical,Sensor,engineer
23,Conselor,Mentor,Trainer,education
24,MS SQL,Javascript,JIRA,IT engineer
25,Banking operations,Banking,Banking and finanace,banking
26,Banking operations,Customer service executive,Back officer executive,banking
27,Pediatrics,Pediattrician,MD,health
28,Pol science,PGT political science,Political science teacher,education
29,Civil,Financial planning,Infrastructure,engineer
30,Team management,Tied channel,Managment,management
31,GIT,Jenkins,Bootstrap,IT engineer
32,Consultant dgo,Ivf,DNB,health
33,patient care,administration,facility management,management
34,Team handling,Manager quality,Inspection methods,management
35,Banking,Operation Manager,Operation Head,banking
36,HR manager,HR head,HR generalist,management

In [39]:
pre = pd.DataFrame(pred)

In [40]:
pre

     0
0    1
1    0
2   20
3    0
4    0
5    1
6    0
7    0
8    3
9    1
10   2
11   4
12   5
13   3
14   1
15   7
16  20
17   3
18   2
19  10
20  20
21   0
22   7
23   4
24   5
25   1
26   1
27   2
28   4
29   7
30  16
31   5
32   2
33   3
34   3
35   1
36   3

# Testing KMeans On whole data

In [41]:
dfs  = data.drop(['location','job title','salary','company'],axis=1)

In [42]:
dfs = ohe.fit_transform(dfs)

In [43]:
dfs

<182x376 sparse matrix of type '<class 'numpy.float64'>'
	with 728 stored elements in Compressed Sparse Row format>

In [44]:
pred1 = km.predict(dfs)

In [45]:
pred1

array([ 0,  2,  3,  6,  6, 20, 20, 20,  5,  1,  5,  2,  0,  3, 19,  6,  5,
        1,  3, 17, 20,  1,  1,  5,  0,  3,  3,  3,  4,  4,  7, 18,  1,  4,
        0,  4,  3,  1, 11,  1, 16,  3,  3, 13,  5, 14,  5,  5,  0,  0,  5,
        0,  3,  0,  5,  0,  2,  5,  2, 14,  0,  3,  5,  0,  0,  3,  3,  3,
        2,  2,  5,  2,  0, 12,  0, 10,  8,  2, 15,  1,  9,  7,  7,  2,  7,
        3,  5,  0,  1, 11,  1, 16,  3,  3, 13,  5, 14,  5,  5,  0, 12,  0,
       10,  8,  2, 15,  1,  9,  7,  7,  7,  1,  3,  1,  3,  7,  1,  2,  6,
        5,  3,  6,  3,  2,  2,  5,  1,  4,  4,  0,  7,  3,  0,  0,  0,  4,
        4,  3,  2,  3,  7,  0,  3,  1,  0,  0, 10,  8,  2,  3,  2, 15,  1,
        9,  3, 19,  6,  5,  1,  3, 17, 20,  1,  1,  5,  0,  3,  3,  3,  4,
        4,  7, 18,  1,  4,  0,  4,  3,  1, 11,  1, 16])

In [46]:
tes = pd.DataFrame(ohe.inverse_transform(dfs))

In [47]:
tes

                      0                     1                  2           3
0                Sales   Business development    Lead generation   marketing
1          Gynecologist            Gynecology     DNB Gynecology      health
2    Quality Supervisor      Quality Engineer  Quality Assurance  management
3          Delivery boy    Delivery field boy    Delivery parcel       sales
4             Marketing                 Sales        New product       sales
..                  ...                   ...                ...         ...
177  Project management                   Iso        Procurement  management
178          Insurance                   Bank          Financial     banking
179     Forex executive                 Forex         Forex head  management
180              Agency                  Tied               Bfsi     banking
181     Team management          Tied channel          Managment  management

[182 rows x 4 columns]

In [48]:
dte = data.copy()

In [49]:
rec = pd.concat([data, pd.DataFrame(pred1)], axis=1)

In [50]:
rec.columns

Index([    'location',    'job title',       'salary', 'eligibility1',
       'eligibility2', 'eligibility3',       'sector',      'company',
                    0],
      dtype='object')

In [51]:
rec.columns = [
    'location',
    'job title',
    'salary',
    'eligibility1',
    'eligibility2',
    'eligibility3',
    'sector',
    'company',
    'pred_kmean'
]

In [52]:
company_list = list(pd.DataFrame(rec.groupby('pred_kmean').agg({'company':list}))['company'].values)

In [53]:
company_dict  = {i:j for i,j in enumerate(company_list)}

In [54]:
rec['recommended'] = rec['pred_kmean'].apply(lambda x : company_dict[x])

In [55]:
rec.head()

,location,job title,salary,eligibility1,eligibility2,eligibility3,sector,company,pred_kmean,recommended
0,Haladwani,Sales officer,200000,Sales,Business development,Lead generation,marketing,Digiperform,0,"[Digiperform, DSOM, NIIT, Sawan Kirpal Ruhani ..."
1,Roorkee,Exciting job opportunity for gynecologist in ...,320000,Gynecologist,Gynecology,DNB Gynecology,health,Bhagwati Hospital,2,"[Bhagwati Hospital, Vardhman Hospital, Pure & ..."
2,Roorkee,Job opening for the post of line supervisor,300000,Quality Supervisor,Quality Engineer,Quality Assurance,management,NIIT,3,"[NIIT, SBI Funds Management , Himalayan Instit..."
3,Haladwani,Hiring delivery boys for a food delivery app,150000,Delivery boy,Delivery field boy,Delivery parcel,sales,Digiperform,6,"[Digiperform, Kalpamrit Marketing, Technolecti..."
4,Haridwar,Marketing ane New product development,200000,Marketing,Sales,New product,sales,Kalpamrit Marketing,6,"[Digiperform, Kalpamrit Marketing, Technolecti..."

In [ ]:
rec["recommended"][1]

In [ ]:
import pickle

pickle.dump(ohe,open('ohe_recommender.pkl','wb'))

In [ ]:
pickle.dump(km, open('recommender.sav','wb'))

In [ ]:
pickle.dump(company_dict,open('company_name.pkl','wb'))